@page
@model TeamEvaluation.Pages.Projects.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<div>
    <div>
        @if (Model.Project.IsLocked)
        {
            <div style="float:right">
                <p class="text-danger">You can't share project because it is Locked!</p>
            </div>
        }
        else
        {
            <div style="float:right">
                <button class="btn btn-info" type="button" onclick="$('#dvlink').show()">Share</button>
            </div>
        }
        <div>
            <h4>@Model.Project.Name</h4>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Project.Name)
                </dt>
                <dd class="col-sm-10">
                    <a asp-page="./Report" asp-route-id="@Model.Project.Id">@Model.Project.Name</a>
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Project.Weight)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Project.Weight)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Project.Semester)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Project.Semester.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Project.IsLocked)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Project.IsLocked)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Project.TotalGrades)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Project.TotalGrades)
                </dd>
            </dl>
        </div>
        <div class="col-md-6" style="display:none" id="dvlink">
            <input type="text" id="txtLink" class="form-control col-md-8" style="float:left" value="@Url.Content($"{this.Request.Scheme}://{this.Request.Host}{this.Request.PathBase}/projects/judge/?id={Model.Project.Id}")" readonly />
            <button class="btn btn-success" type="button" onclick="$('#dvlink').hide()" style="float:right">Done</button>
            <button type="button" onclick="copy()" class="btn btn-link text-info" style="float:right">copy link</button>
        </div>
    </div>
</div>
<br />
<h3>Project's Evaluation Criterias</h3>
<div>
    @foreach (var pc in Model.Project.ProjectsCriterias)
    {
        <span class="badge badge-info">@pc.Criteria.Name</span>
    }
</div>
<br />
<h3>Project's Teams</h3>
<div>
    @foreach (var team in Model.Project.Teams)
    {
        <span class="badge badge-primary">@team.Name</span>
    }
</div>
<br />
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Project.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
@section Scripts
{
    <script>
        function copy() {
            /* Get the text field */
            var copyText = document.getElementById("txtLink");

            /* Select the text field */
            copyText.select();
            copyText.setSelectionRange(0, 99999); /*For mobile devices*/

            /* Copy the text inside the text field */
            document.execCommand("copy");

            /* Alert the copied text */
            alert("Copied the text: " + copyText.value);
        }

    </script>
}