@page
@model TeamEvaluation.Pages.Projects.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Semester)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Semester.Id)
        </dd>
    </dl>
</div>
<br />
<h3>Project's Teams</h3>
<div>
    @foreach (var team in Model.Project.Teams)
    {
        <span class="badge badge-primary">@team.Name</span>
    }
</div>
<br />
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Project.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
