@page
@model TeamEvaluation.Pages.Projects.ReportModel
@{
    ViewData["Title"] = "Report";
}

<h1>@Model.Project.Name</h1>

<hr />
<div>
    <div class="row">
        <div class="col-md-12">
            <div>
                <div class="text-center">
                    <a asp-page="./Report" asp-route-id="@Model.Project.Id" class="btn btn-link">All</a>
                    @foreach (var pc in Model.Project.Teams)
                    {
                        <a asp-page="./Report" asp-route-id="@Model.Project.Id" asp-route-teamId="@pc.Id" class="btn btn-link">@pc.Name</a>
                    }
                </div>
                @{
                    var total = default(decimal);
                }
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Grades[0].Criteria)
                            </th>
                            <th>
                                Avg. Score
                            </th>
                            <th>
                                Weight
                            </th>
                            <th>
                                Weight Avg.
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var g in Model.Grades)
                        {
                            <tr>
                                <td>@g.Criteria.Name</td>
                                <td>@g.Value</td>
                                <td>@g.Criteria.Weight</td>
                                <td>@(g.Value * g.Criteria.Weight)</td>
                            </tr>
                            { 
                                total += (g.Value * g.Criteria.Weight);
                            }
                        }
                    </tbody>
                </table>
                <div class="text-right">
                    <label>Total: @total</label>
                </div>
            </div>
        </div>
    </div>
</div>
